@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colour-background: #ffffff;
    --colour-primary: #421629;
    --colour-typography: #000000;
    --colour-shadow: 77 0 18;
  }
  html[data-theme="dark"] {
    --colour-background: #421629;
    --colour-primary: #ffffff;
    --colour-typography: #ffffff;
    --colour-shadow: 255 255 255;
  }
  html[data-theme="grey"] {
    --colour-background: #e5e5e5;
    --colour-primary: #421629;
    --colour-typography: #000000;
    --colour-shadow: 75 0 18;
  }

  html,
  body {
    @apply font-sans;
    padding: 0;
    margin: 0;
  }

  html {
    /* adding space above anchors so they appear below the fixed header */
    scroll-padding-top: 7.85rem;
    /* fix font not looking crisp on safari */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    /* margin: 10px; */
  }

  @font-face {
    font-family: "New Edge";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/NewEdge666-LightRounded.woff2") format("woff2");
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: 2.1em;
    line-height: 1.2;
  }

  blockquote p {
    @apply !mb-1.5;
    font-size: 2.1em;
    line-height: 1.2;
  }

  a:focus {
    @apply outline-primary;
  }

  button:focus {
    @apply outline-primary;
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: var(--colour-primary);
    background: var(--colour-primary);
  }

  ::selection {
    color: var(--colour-background);
    background: var(--colour-primary);
  }

  /* h2,
  h3,
  h4,
  h5 {
    @apply mb-6;
  } */

  p,
  li,
  cite {
    font-size: 1.2em;
    line-height: 1.3;
  }

  blockquote {
    @apply box my-[25px] w-full rounded bg-background p-2.5 pr-7 italic text-typography shadow md:p-5 md:pr-12;
  }

  /* blockquote:last-of-type {
    @apply mb-0;
  } */

  cite {
    font-style: normal;
  }

  @media screen and (min-width: 720px) {
    h1 {
      font-size: 7.2em;
      line-height: 1.05;
    }

    p,
    li,
    cite {
      font-size: 1.32em;
    }
  }

  mark {
    @apply rounded bg-background px-1.5 py-0.5 text-typography outline outline-1 outline-primary;
  }

  /* h2[id]::before {
    content: "";
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
  } */
}

@layer components {
  /* .prose h2 {
    @apply relative mx-auto rounded-lg bg-background p-5 text-typography shadow md:max-w-3xl md:p-6 md:pr-12;
  } */

  /* center placeholder text  */
  .search::placeholder {
    @apply text-primary opacity-50;
    transform: translateY(1.5px);
  }

  .prose h3,
  .prose h4 {
    @apply mb-[12.5px] lg:mb-[25px];
  }

  .prose h3::before,
  .defining-public-ai h4::before,
  .chapter-3 h4::before {
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 33 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_236_63)'%3E%3Cpath d='M0.460953 7.2L14.461 7.2C21.561 8.4 15.861 13.8 15.861 13.8C22.961 7.1 32.261 6.9 32.261 6.9C32.261 6.9 22.961 6.7 15.861 1.42729e-06C15.861 1.42729e-06 21.661 5.4 14.461 6.7L0.460953 6.7C0.360953 6.7 0.260953 6.8 0.260953 6.9C0.260953 7 0.260953 7.2 0.460953 7.2Z' fill='%23421629'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_236_63'%3E%3Crect width='32.1' height='13.8' fill='white' transform='translate(32.261 13.8) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    height: auto;
    width: 55.2px;
    /* margin-top: 10px; */
    margin-right: 10px;
  }

  html[data-theme="dark"] .prose h3::before,
  html[data-theme="dark"] .defining-public-ai h4::before,
  html[data-theme="dark"] .chapter-3 h4::before {
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 33 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_236_63)'%3E%3Cpath d='M0.460953 7.2L14.461 7.2C21.561 8.4 15.861 13.8 15.861 13.8C22.961 7.1 32.261 6.9 32.261 6.9C32.261 6.9 22.961 6.7 15.861 1.42729e-06C15.861 1.42729e-06 21.661 5.4 14.461 6.7L0.460953 6.7C0.360953 6.7 0.260953 6.8 0.260953 6.9C0.260953 7 0.260953 7.2 0.460953 7.2Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_236_63'%3E%3Crect width='32.1' height='13.8' fill='white' transform='translate(32.261 13.8) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    height: auto;
    width: 55.2px;
    /* margin-top: 10px; */
    margin-right: 10px;
  }

  .prose p {
    @apply my-2.5;
  }

  .prose ol {
    @apply my-5 ml-20 list-inside list-decimal;
  }

  .box p:first-of-type {
    @apply mt-0;
  }

  .box p:last-of-type {
    @apply mb-0;
  }

  .dialog-left,
  .search-dialog {
    @apply transform motion-reduce:transition-none;
  }

  .search-dialog {
    @apply -translate-x-full transition;
  }

  .dialog-left[data-state="open"],
  .search-open {
    animation: slideLeftOpen 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
  }

  .dialog-left[data-state="closed"],
  .search-closed {
    animation: slideLeftClose 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
  }

  .dialog-bottom {
    @apply transform motion-reduce:transition-none;
  }

  .dialog-bottom[data-state="open"] {
    animation: slideBottomOpen 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  .dialog-bottom[data-state="closed"] {
    animation: slideBottomClose 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  .sticky-chapter-header {
    @apply text-white;
  }

  html[data-theme="grey"] .sticky-chapter-header {
    @apply text-grey;
  }

  button.shadow:hover {
    @apply shadow-hover transition-shadow;
  }

  button.shadow:hover {
    @apply transition-shadow;
  }

  .pulse {
    stroke: var(--blue);
    filter: drop-shadow(0px 0px 2px var(--colour-primary));
  }

  .icon {
    @apply h-9 w-9;
  }

  html[data-theme="dark"] .prose .diagram {
    filter: invert(1) saturate(0);
  }
}

/* fix h3 heading on chapter 0 */
.defining-public-ai h3::before,
#sandboxing-of-new-organisational-practices-and-forms::before {
  content: "" !important;
  width: 0;
  height: 0;
}

.defining-public-ai h3,
#sandboxing-of-new-organisational-practices-and-forms {
  margin-bottom: 0px !important;
}

/* hide backnote button on footnotes thats autogenerated by github flavoured markdown */
.data-footnote-backref {
  display: none;
}

/* hide footnotes from page */
.footnotes {
  display: none;
}

/* model viewer */
.Hotspot {
  @apply shadow;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--colour-background);
  box-sizing: border-box;
}

.HotspotAnnotation {
  @apply shadow;
  width: max-content;
  background-color: #421629;
  color: #ffffff;
  position: absolute;
  transform: translate(25px, -12px);
  border-radius: 99px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 300ms ease;
  transform-origin: left center;
}

.HotspotAnnotation:hover {
  scale: 1.1;
  transition: 300ms ease;
}

.HotspotAnnotationLeft {
  transform: translate(-88px, -12px);
}

.progress-bar {
  @apply z-50 shadow;
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 99px;
  box-shadow:
    0px 3px 10px 3px rgba(0, 0, 0, 0.5),
    0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: var(--colour-primary);
  width: 0%;
  height: 100%;
  border-radius: 99px;
  float: left;
  transition: width 0.3s ease;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

@keyframes slideLeftOpen {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideLeftClose {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideBottomOpen {
  from {
    transform: translateY(110%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideBottomClose {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(110%);
  }
}
