@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colour-background: #ffffff;
    --colour-primary: #4b0012;
    --colour-typography: #000000;
    --colour-shadow: 77 0 18;
  }
  html[data-theme="dark"] {
    --colour-background: #4b0012;
    --colour-primary: #ffffff;
    --colour-typography: #ffffff;
    --colour-shadow: 255 255 255;
  }
  html[data-theme="red"] {
    --colour-background: #ff8e8e;
    --colour-primary: #4b0012;
    --colour-typography: #000000;
    --colour-primary: #ffffff;
    --colour-shadow: 75 0 18;
  }

  html,
  body {
    @apply font-sans;
    padding: 0;
    margin: 0;
  }

  body {
    /* margin: 10px; */
  }

  @font-face {
    font-family: "New Edge";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/NewEdgeSoftPower4-LightRounded.woff2") format("woff2");
  }

  h1 {
    font-size: 2rem;
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: 1.75rem;
  }

  /* h2,
  h3,
  h4,
  h5 {
    @apply mb-6;
  } */

  p,
  blockquote,
  li {
    font-size: 1em;
  }

  .prose p {
    @apply mb-2;
  }

  @media screen and (min-width: 720px) {
    h1 {
      font-size: 3rem;
    }
  }
}

@layer components {
  .prose h2 {
    @apply relative mx-auto rounded-lg bg-background p-5 text-typography shadow md:max-w-4xl md:p-6 md:pr-12;
  }
}
